.App {
  width:100vw;
  height:100vh;
}


/* body {
  margin:0;
  padding:0;

} */

.Sidebar {
  height:100%;
  width:250px;
  background-color: blue;
  border-radius: 20px;
  margin: 40px;
  text-align :center;

}


.Profile {

    width: 50%;
    min-width: 800px;
    height: available;
    min-height: 650px;
    float: left;
    background-color: royalblue;
    border-collapse: collapse;
 
}